<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keshavg.reddit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommentsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".ImageViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:theme="@style/Theme.Sliding.DayNight" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmitCommentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SubmitPostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <provider
            android:authorities="com.keshavg.reddit.SearchSuggestionsProvider"
            android:name=".SearchSuggestionsProvider">
        </provider>
    </application>

</manifest>